/* Backgrounds */
body {
	background-color: #ff4000;
}
div.headings{
	border-bottom: 5px solid black;
}
div.intro {
	background-color: black;
	width: 100%;
	border-style: solid;
	border-color: black;
	border-radius: 10px;
}