/* Defaults 
	font-family: 'Titillium Web', sans-serif;
	font-family: 'Adventure', Arial, sans-serif;
	font-family: 'Just Another Hand', cursive;
*/
/* Fonts */
	/* Importing of fonts */
		/* Custom fonts */
		@font-face {
			font-family: 'Adventure';
    			src: url('fonts/adventure/Adventure-Regular.otf');
    			font-weight: normal;
    			font-style: normal;
		}
		@font-face {
			font-family: 'Just Another Hand';
    			src: url('fonts/just-another-hand/Just_Another_Hand-Regular.ttf');
    			font-weight: normal;
    			font-style: normal;
		}
		@font-face {
			font-family: 'Titillium Web Regular';
    			src: url('fonts/titillium_web/TitilliumWeb-Regular.ttf');
    			font-weight: normal;
    			font-style: normal;
		}
	/* Application of fonts */
	.headings {
		font-family: 'Adventure', Arial, sans-serif;
	}
	p {
    	font-family: 'Just Another Hand', 'Titillium Web', cursive;
	}