/* Custom Fonts */
	/* Importing of fonts */
	@font-face {
		font-family: 'adventureregular';
    		src: url('fonts/adventure-webfont.woff2') format('woff2'),
         	     url('fonts/adventure-webfont.woff') format('woff');
    		font-weight: normal;
    		font-style: normal;
	}
	/* Application of fonts */
	h1, p {
		font-family: 'adventureregular', Arial, sans-serif;
	}
/* Text Adjustments */
	/* Alignment */
	h1, p {
		text-align: center;
	}
	/* Size */
	h1 {
		font-size: 100px;
	}
	p {
		font-size: 75px;
	}
